<div class="row">
  <div class="search-bar col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <br/>
      
    <div class="input-group">
      <div class="input-group-btn">
        <div class="searchbox col-lg-5 col-lg-offset-0 col-md-5 col-sm-5 col-xs-10 col-xs-offset-0">
          <input type="text" class="form-control searchfield" placeholder="Search Book by Title" ng-model="bookTitle"> 
        </div>

        <div class="sortdrop col-lg-4 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-2 col-xs-10" style="top: -2px; padding-left:0px">
          <select class="dropdown-menu dropdown-menu-right form-control" ng-model="bookCategory" >
              <option value = "{{undefined}}">All Categories</option>
              <!-- <option ng-repeat="book in userBooks | orderBy:'style' track by $index">{{book.style}}</option> -->
              <option ng-repeat="book in allBooks | unique: 'category'">{{book.category}}</option>
          </select>
        </div>

        <div class="sortdrop col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-2 col-sm-offset-2 col-xs-10" style="top: -2px; padding-left:0px">
          <select class="dropdown-menu dropdown-menu-right form-control" ng-model="sortList">
                <option value = "" selected>Sort by Name</option>
                <option value = "-dateAdded">Sort by Date Added</option>
          </select>

        </div>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div> <!-- /search-bar -->
</div><!-- /.row -->



<div class="row row-centered">
  <div class="book-display">  
    <div class = "show-search-books" ng-repeat = "book in allBooks | filter: {title:bookTitle}| filter: {category:bookCategory}| orderBy: sortList || 'title' track by $index " ng-show = "book.available">
          
      <div ng-model="book.offer"> 


        <div class="bookContainerWide col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6">
          <div class="book-inner-wide">

            <div class = "top-content">
            <span class="book-name">{{book.title}}</span>
            </div>
            <div class="book-details">
              <div class="left-content pull-left">
              <img class="book-image-wide cover col-centered" img ng-src="{{book.image}}"/>
              </div>
              <div class="right-content pull-left">
                <div class="book-info">
                  <span class="book-category"><i class="fa fa-pencil" aria-hidden="true"></i> {{book.author}}</span> 
                  <span class="book-category"><i class="fa fa-bookmark" aria-hidden="true"></i> {{book.category}}</span>
                  <!-- <span class="book-category"><i class="fa fa-language" aria-hidden="true"></i> English </span> -->
                  <span class="book-category"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{book.pageNo}} Pages </span>

                  <br>
                </div>
                <div class="book-description">
                  <p class="">
                    {{book.description}}
                  </p>
                </div>
                <div class="actions clearfix">
                </div> <!-- /actions -->

             
                
              </div>
            </div>  

               <button class="btn btn-primary" ng-click="clickToOpenBorrow(book)">
                Book It!
               </button>
                
          </div><!-- /book-inner -->
        </div> <!-- </book-container> -->

     </div>
    </div>
  </div>
</div>

  