



  
<div class="row">
  <div class="search-bar col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
  <br/>
      
    <div class="input-group">
      <div class="input-group-btn">
        <div class="searchbox col-lg-5 col-lg-offset-0 col-md-5 col-sm-5 col-xs-10 col-xs-offset-0">
          <input type="text" class="form-control searchfield" placeholder="Search Book by Title" ng-model="bookName">
        </div>

        <div class="sortdrop col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-2 col-xs-10" style="top: -2px; padding-left:0px">
          <select class="dropdown-menu dropdown-menu-right form-control" ng-model="bookStyle" >
              <option value = "{{undefined}}">All Categories</option>
              <!-- <option ng-repeat="book in userBooks | orderBy:'style' track by $index">{{book.style}}</option> -->
              <option ng-repeat="bookcategory in allBookCategories">{{bookcategory}}</option>
          </select>
        </div>

        <div class="sortdrop col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-2 col-sm-offset-1 col-xs-10" style="top: -2px; padding-left:0px">
          <select class="dropdown-menu dropdown-menu-right form-control" ng-model="sortList">
                <option value = "" selected>Sort by Name</option>
                <option value = "-rating">Sort by Rating</option>
          </select>

        </div>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div> <!-- /search-bar -->
</div><!-- /.row -->

<div class="container">
  <div class="row row-centered">
    <div class="book-display">    
      <br/>
      <br/>



      <!--   <div class="bookContainer col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3">
        <div class="book-inner">

            <img class="book-image cover col-centered" src="https://books.google.co.il/books/content?id=2sSMCwAAQBAJ&printsec=frontcover&img=1&zoom=1&imgtk=AFLRE72cEaZbvu1rufdt87qHBjk9gspGAsuSSFP1ucdwBVcGn_rYQX3iwXDFuN34OJNBYyc7FpqCybWHbwKyG1lZGRYb9aYdRjyrARTG-_cZNtDqzaSufq8YSIdWAgHdSDRcgDlfn5-P">
            <h4 class="book-name">Harry Potter</h4> 
            <hr>
            <span class="book-category"><i class="fa fa-bookmark" aria-hidden="true"></i> Young Adult</span>
            <span class="book-category"><i class="fa fa-language" aria-hidden="true"></i> English </span>

            <br>

            <div class="actions clearfix">
              <h4 class="pull-left"></h4>
              <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
              </h4>
            </div> <!/actions -->

<!--             <form ng-submit="addReview(book)">
              <div class="form-group user-rating-container pull-left">
                <div class="review">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Name"></input>
                  </div>
                </div>
                <input type="text" class="form-control user-rating pull-left" placeholder="Your Email"></input>
                <button type="submit" class="btn btn-secondary col-md-2 user-rating-btn">Go!</button>
              </div> 
            </form>  -->
            
       

          <!-- </div> --><!-- /book-inner -->
        <!-- </div> --><!--  /book-container -->
 

       <div class="bookContainerWide col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6" ng-controller = "mainCtrl">
        <div class="book-inner-wide" ng-repeat = "book in allBooks track by $index">

            <div class = "top-content">
            <span class="book-name">{{book.title}}</span><span class = "book-author"> {{book.author}}</span> 
            </div>
            <div class="book-details">
              <div class="left-content pull-left">
              <img ng-src={{book.image}}>
              </div>
              <div class="right-content pull-left">
                <div class="book-info">
                  <!-- <span class="book-category"><i class="fa fa-bookmark" aria-hidden="true"></i> Young Adult</span> -->
                  <span class="book-category"><i class="fa fa-language" aria-hidden="true"></i> {{book.language}} </span>
                  <span class="book-category"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{book.pageNo}} </span>

  <!--                 <h4 class=""></h4>
                  <i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                  </h4> -->

                  <br>
                </div>
                <div class="book-description">
                  <p class="">
                  {{book.description}}
                  </p>
                </div>
                <div class="actions clearfix">
                </div> <!-- /actions -->
  <!--             
                <form ng-submit="addReview(book)">
                  <div class="form-group user-rating-container pull-left">
                    <div class="review">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Your Name"></input>
                      </div>
                    </div>
                    <input type="text" class="form-control user-rating pull-left" placeholder="Your Email"></input>
                    <button type="submit" class="btn btn-secondary col-md-2 user-rating-btn">Go!</button>
                  </div> /user-rating-container
                </form>
    -->
                <button class="btn btn-primary">
                  Book it!
                </button>
              </div>
            </div>  

            
       

          </div><!-- /book-inner -->
        </div> <!-- </book-container> -->





      <div class="bookContainer col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-3" ng-repeat = "book in userBooks | filter: {name:bookName} | filter: {style: bookStyle} | orderBy: sortList || 'name' track by $index">
        <div class="book-inner">

            <img class="book-image cover" ng-src="{{book.image_url}}">
            <h4 class="book-name">{{book.name}} </h4> 
            <hr>
            <span class="book-category"><i class="fa fa-bookmark" aria-hidden="true"></i> {{book.category}} 
            <br>
            <div class="actions clearfix">
              <h4 class="pull-left"><div  ng-bind-html="trust(fastar(book))"></div></h4>
              <h4 class="pull-right">
                <span><i class="fa fa-trash-o" aria-hidden="true" ng-click="removeBook(book)"></i></span>
                <span style="position:relative; top:1px;"><i class="fa fa-pencil-square-o" aria-hidden="true" ng-click="editBook(book)"></i></span>
              </h4>
            </div> <!-- /actions -->

            <form ng-submit="addReview(book)">
              <div class="form-group user-rating-container pull-left">
                <div class="review">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Your Review" ng-model="book.userReview"></input>
                  </div>
                </div>
                <input type="number" class="form-control user-rating pull-left" placeholder="Your Rating" required min="1" max="5" ng-model="book.userRating"></input>
                <button type="submit" class="btn btn-secondary col-md-2 user-rating-btn">Go!</button>
              </div> <!-- /user-rating-container -->
            </form>
            
            <!-- <div class="book-reviews" ng-repeat="userReview in book.reviews">
                {{book.reviews}}  -->
            <div class="book-reviews" ng-repeat="review in book.reviews track by $index">
                {{review.userReview}}  
                <span><i class="fa fa-trash-o" aria-hidden="true" ng-click="removeReview(book, review)"></i></span>
            </div>

          </div><!-- /book-inner -->
        </div><!--  /book-container -->
      </div> <!-- /book-display -->
    </div>
  </div>

    </div><!-- /row -->
  </div><!-- /container-fluid -->


 