<div class="row">
   <div class="search-bar col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
    <h2>Too many books on your shelves? <br> Pay some forward!</h2> 
    <h3 class="upload-instructions">Upload a book by searching for its name or ISBN</h3>
      
    <h1></h1>
      <form ng-submit="searchBook()">
       <input type="text" id="book-search" class="form-control" placeholder="Search by title or ISBN number" ng-model="bookSearch">
        <div class="search-button-container col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <button class="btn-primary search-button">Search!</button>
        </div>
      </form>

  </div>
</div>


<div class="row row-centered">
  <div class="book-display">  
    <div class = "show-search-books" ng-repeat = "book in books track by $index">
      <div ng-model="book.offer"> 


        <div class="bookContainerWide col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-6 col-md-offset-0 col-lg-6">
          <div class="book-inner-wide">

            <div class = "top-content">
            <span class="book-name">{{book.title}}</span>
            </div>
            <div class="book-details">
              <div class="left-content pull-left">
              <img class="book-image-wide cover col-centered" img ng-src="{{book.image}}"/>
              </div>
              <div class="right-content pull-left">
                <div class="book-info">
                  <span class="book-category"><i class="fa fa-pencil" aria-hidden="true"></i> {{book.author}}</span> 
                  <span class="book-category"><i class="fa fa-bookmark" aria-hidden="true"></i> {{book.category}}</span>
                  <!-- <span class="book-category"><i class="fa fa-language" aria-hidden="true"></i> English </span> -->
                  <span class="book-category"><i class="fa fa-file-text-o" aria-hidden="true"></i> {{book.pageNo}} Pages </span>

                  <br>
                </div>
                <div class="book-description">
                  <p class="">
                    {{book.description}}
                  </p>
                </div>
                <div class="actions clearfix">
                </div> <!-- /actions -->

             
                
              </div>
            </div>  

            <button class="btn-primary btn" ng-click="offerBook(book.title, book.image, book.author, book.description, book.pageNo, book.language, $index, book.category)">
                  Offer this Book
            </button>

          </div><!-- /book-inner -->
        </div> <!-- </book-container> -->

     </div>
    </div>
  </div>
</div>

